<!-- Bottom Navigation -->
  <div class="app">
    <nav class="bottom-nav">
      <a href="../home.html" class="bottom-nav__item active">
        <i class="bx bx-home-alt"></i>
        <span>Início</span>
      </a>
      <a href="#" class="bottom-nav__item active">
        <i class="bx bx-menu menu-icon"></i>
        <span>Categorias</span>
      </a>
      <a href="#" class="bottom-nav__item active">
        <i class="bx bx-user"></i>
        <span>Sobre</span>
      </a>
    </nav>
  </div>

  
  