/* Carousel */

.intention-categories {
  display: flex;
  gap: 12px;

  overflow-x: auto;
  padding: 12px;

  scroll-snap-type: x mandatory;
}

.category {
  flex: 0 0 auto;
  text-align: center;

  scroll-snap-align: start;
}

.category img {
  width: 70px;
  height: 70px;

  border-radius: 50%;
  object-fit: cover;

  display: block;
  margin: 0 auto 6px;
}

.category span {
  font-size: 12px;
  color: #333;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*
.carousel {
  width: 100%;
  margin-left: 0;
  margin-bottom: var(--space-7);

  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel__track {
  display: flex;
}

.carousel__item {
  flex: 0 0 100%;
  scroll-snap-align: start;
}

.carousel__item a {
  display: block;
  width: 100%;
  height: 100%;
}

.carousel__item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.prev { left: 10px; }
.next { right: 10px; }

.section__carousel {
  position: relative;
} */